.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.navs {
  display: flex;
  align-items: center;
}

.home-icon,
.search-icon,
.answer-icon {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

.navbar-title > h1 {
  background: -webkit-linear-gradient(180deg, #08aeea, #2af598);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
